<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Gerenciamento de Clientes</h2>
    <button class="btn btn-primary mt-4" >
      <ng-icon name="ionCheckmarkCircle" class="me-2"></ng-icon>
      Cadastrar Novo Cliente
    </button>
  </div>
  <table
    datatable
    [dtOptions]="dtOptions"
    class="table table-bordered"
    [dtTrigger]="dtTrigger"
  >
    <thead class="bg-dark table-white">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Balance</th>
        <th>Status</th>
        <th>#Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.birthday | date : "dd/MM/yyyy" }}</td>
        <td>R$ {{ client.balance | number : "1.2-2" : "pt-BR" }}</td>
        <td>
          <ng-icon
            name="ionLockOpen"
            *ngIf="client.status"
            class="text-primary"
            style="font-size: 20px"
          />
          <ng-icon
            name="ionLockClosed"
            *ngIf="!client.status"
            class="text-danger"
            style="font-size: 20px"
          />
        </td>

        <td>
          <a class="btn btn-info me-2" (click)="callModalConfirmRemove(client)"
            >Edit</a
          >
          <a class="btn btn-danger" (click)="callModalConfirmRemove(client)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

